@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 574px;
    top: 487px;
    width: 300px;
}

video#filme {
    display: block;
    position: relative;
    left: 85px;
    top: -53px;
    width: 450px;
    height: 400px;
}